* {
    margin: 0;
    padding: 0;
    background-color: #c7c8d1;
}

h1 {
    color: #575a75;
}

h2 {

}

article {
    font-family: sans-serif;
}

.futbol {

}

.literatura {

}

div {

}

.datos {

}

.vida {

}