body {
  font-family: sans-serif;
  background-color: #d3d3d3;
}

h2 {
  clear: both;
}

.lista1 {
  list-style-type: none;
  padding: 0.2rem;
}

.lista1 li {
  display: block;
  float: left;
  width: 10rem;
  background-color: #5ace77;
  border: dashed 0.35rem #954a95;
  text-align: center;
  font-weight: bold;
  color: #5e0272;
  padding: 0.5rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.lista2 {
  list-style-type: none;
  text-align: center;
}

.lista2 li {
  display: inline-block;
  background-color: white;
  border: outset 2px black;
  padding: 0.25rem;
  margin-left: 0.6rem;
  margin-right: 0.6rem;
}

.lista2 li:hover {
  background-color: #d3d3d3;
  border: inset 2px black;
}

.lista3 {
  float:left;
  list-style-type: none;
  border: solid 1px black;
  padding: 0.4rem 0.8rem;
}

.lista3 li {
  background-color: white;
  border: solid 1px black;
  text-align: center;
  padding: 0.5rem 0.8rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.lista4 {
  list-style-type: none;
  width: 100%;
  text-align: center;
}

.lista4 li {
  display: inline-block;
  text-align: center;
  font-weight: bold;
  margin: 0 0.2rem;
  width: 10rem;
  padding: 0.5rem;
}

.lista4 li:nth-child(odd) {
  background-color: white;
  color: #3366cc;
}

.lista4 li:nth-child(even) {
  background-color: #3366cc;
  color: white;
}

.lista5 {
  list-style-type: none;
}

.lista5 li {
  margin: 0 1rem;
}

.lista6 {
  list-style-type: none;
  text-align: center;
}

.lista6 li {
  display: inline-block;
  margin: 0 1rem 2rem 1rem;
}

[class^="icon"]::before {
  content: "";
  background-image: url("");
  background-size: 100% 100%;
  display: inline-block;
}

.lista5 [class^="icon"]::before {
  height: 1rem;
  width: 1rem;

  position: relative;
  top: 1px;
  right: 1px;
}

.lista6 [class^="icon"]::before {
  height: 4rem;
  width: 4rem;

  background-color: white;
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center center;

  border: solid 0.2rem black;
  border-radius: 0.5rem;
}

.icon-inicio::before {
  background-image: url(../img/house.svg);
}

.icon-anadir::before {
  background-image: url(../img/plus.svg);
}

.icon-listar::before {
  background-image: url(../img/file-lines.svg);
}

.icon-borrar::before {
  background-image: url(../img/minus.svg);
}

.icon-buscar::before {
  background-image: url(../img/magnifying-glass.svg);
}

.icon-modificar::before {
  background-image: url(../img/pencil.svg);
}

.icon-salir::before {
  background-image: url(../img/power-off.svg);
}

.mclibre {
  background-color: white;
  border-top: 2px black solid;
  text-align: center;
  font-size: 12.5px;
  position: fixed;
  bottom: 0%;
  width: 100%;
  margin: 0;
  padding-top: 3px;
  padding-bottom: 7px;
  margin-left: -30px;
  padding-left: 30px;
  margin-right: -30px;
  padding-right: 30px;
  margin-top: 30px;
  font-family: sans-serif;
}

.mclibre::first-letter {
  font-size: 16px;
}

a + cite {
  font-style: normal;
}
