main {
  width: 80%;
  margin: auto;
}

img {
  width: 100%;
  max-width: 500px;
}

/* No queremos que se muestre el checkbox */
input {
  display: none;
}

/* Por defecto la bombilla está apagada */
#on {
  display: none;
}
