body {
  background-color: rgb(45, 134, 82);
}

h1 {
  font: 48px sans-serif;
  font-weight: bold;
}

p {
  font-size: 24px;
}

.infancia {
  color: white;
  font-style: oblique;
}

.animales {
  color: hsl(35, 100%, 85%);
  font-family: sans-serif
}

.literatura {
  color: #ff9f1a;
  font-family: monospace;
}

.numeros {
  color:#d4244d;
  font-family: cursive;
}

p:nth-child(9) {
  margin-bottom: 50px;
}

a {
  color: blue;
}

.mclibre {
  background-color: white;
  border-top: 2px black solid;
  text-align: center;
  font-size: 12.5px;
  position: fixed;
  bottom: 0%;
  width: 100%;
  margin: 0;
  padding-top: 3px;
  padding-bottom: 7px;
  margin-left: -30px;
  padding-left: 30px;
  margin-right: -30px;
  padding-right: 30px;
  margin-top: 30px;
  font-family: sans-serif;
}

.mclibre::first-letter {
  font-size: 16px;
}

a + cite {
  font-style:normal
}

