* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: black;
  color: white;
}

body {
  background-color: whitesmoke;
  background-image: url("../img/sjlogo.svg");
}

footer {
  width: 100%;
  position: fixed;
  bottom: 0;
  background-color: black;
  color: white;
  text-align: center;
}
