/*********** ESTILOS GENERALES ********/

* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

header {
  background-color: black;
  color: white;
}

body {
  background-color: #222;
  color: white;
  background-image: url("../img/sjlogo.svg");
  font-size: 1rem;
}

h1 {
  margin: 1rem auto;
}

h2, h3, h4, h5, h6 {
  margin: 0.5rem auto;
}

article {
  text-align: justify;
}

footer {
  width: 100%;
  position: fixed;
  bottom: 0;
  background-color: black;
  color: white;
  text-align: center;
}

.noticia {
}
.twitter-tweet {
}
.youtube {
}
.twitter {
}

/*********** ESTILOS DEL HEADER ********/

/* FIXME: why do I change sizes on different pages? */

header img {
  width: 35%;
  position: relative;
  top: 0;
}

/*********** ESTILOS DEL MENÚ **********/

/* FIXME: make hover work on mobile devices. Get rid of unnecesary links on the menu. */

nav {
  position: sticky;
  top: 0;
  background-color: black;
  display: block;
}

nav a {
  display: flex;
  background-color: black;
  color: white;
  width: 7rem;
  height: 3rem;
  text-decoration: none;
  text-transform: uppercase;
  justify-content: center;
  align-items: center;
}

[class^="datos-"] a {
  width: 8rem;
}

nav a:hover {
  color: white;
  background-color: #001247;
  font-weight: bold;
}

.burger {
  display:none;
}

.principal {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.izquierda,
.derecha {
  display: flex;
}

.miembros {
  display: none;
  position: absolute;
}

[class^="datos-"] {
  display: none;
  flex-flow: column nowrap;
  position: absolute;
  left: 7rem;
  bottom: 3rem;
}

.grupo:hover .miembros {
  display: block;
}

[class~="menu-kry"]:hover [class~="datos-kry"] {
  display: block;
}

[class~="menu-kyuhyun"]:hover [class~="datos-kyuhyun"] {
  display: block;
}

[class~="menu-ryeowook"]:hover [class~="datos-ryeowook"] {
  display: block;
}

[class~="menu-yesung"]:hover [class~="datos-yesung"] {
  display: block;
}

.datos-kyuhyun {
  top: 3rem;
}

.datos-ryeowook {
  top: 6rem;
}

.datos-yesung {
  top: 9rem;
}

/*********** ESTILOS DE LA DISCOGRAFÍA **********/

article.discografia {
  display: flex;
  flex-flow: row wrap;
  gap: 1rem;
  margin-top: 1rem;
  margin-left: 10%;
  margin-right: auto;
}

article.discografia div {
  font-size: 1.2rem;
}

img.discografia {
  width: 350px;
}

/* TODO: mejorar h2 */

.discografia h2 {
  text-align: center;
  background-color: black;
}

ol {
  list-style-position: inside;
}