* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: black;
  color: white;
}

body {
  background-color: whitesmoke;
  background-image: url("../img/sjlogo.svg");
}

footer {
  width: 100%;
  position: fixed;
  bottom: 0;
  background-color: black;
  color: white;
  text-align: center;
}

.noticia {
}
.twitter-tweet {
}
.youtube {
}
.twitter {
}

/*********** ESTILOS DEL HEADER ********/

/* FIXME: why do I change sizes on different pages? */

header img {
  width: 35%;
  position: relative;
  top: 0;
}

/*********** ESTILOS DEL MENÚ **********/

/* FIXME: make hover work on mobile devices. Get rid of unnecesary links on the menu. */

nav {
  position: sticky;
  top: 0;
  background-color: black;
  display: block;
}

nav a {
  display: flex;
  background-color: black;
  color: white;
  width: 7rem;
  height: 3rem;
  text-decoration: none;
  text-transform: uppercase;
  justify-content: center;
  align-items: center;
}

[class^="datos-"] a {
  width: 8rem;
}

nav a:hover {
  color: white;
  background-color: #001247;
  font-weight: bold;
}

.burger {
  display:none;
}

.principal {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.izquierda,
.derecha {
  display: flex;
}

.miembros {
  display: none;
  position: absolute;
}

[class^="datos-"] {
  display: none;
  flex-flow: column nowrap;
  position: absolute;
  left: 7rem;
  bottom: 3rem;
}

.grupo:hover .miembros {
  display: block;
}

[class~="menu-kry"]:hover [class~="datos-kry"] {
  display: block;
}

[class~="menu-kyuhyun"]:hover [class~="datos-kyuhyun"] {
  display: block;
}

[class~="menu-ryeowook"]:hover [class~="datos-ryeowook"] {
  display: block;
}

[class~="menu-yesung"]:hover [class~="datos-yesung"] {
  display: block;
}

.datos-kyuhyun {
  top: 3rem;
}

.datos-ryeowook {
  top: 6rem;
}

.datos-yesung {
  top: 9rem;
}
