* {
  box-sizing: border-box;
}

body {
  margin: 0;
  width: 95.3%;
  background-color: #333;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/*   Galería */
.galeria {
  background-color: #999;
  padding: 1% 2.5%;
  position: relative;
  width: 100%;
  z-index: 1;
}
.galeria li {
  list-style: none;
  display: inline-block;
  width: 8%;
}
.galeria li a {
  display: block;
  width: 95%;
}
.galeria li a img {
  border: none;
  width: 100%;
  box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.45);
  border-radius: 10px;
}
.galeria li a span {
  position: absolute;
  visibility: hidden;
  left: 10%;
  right: 10%;
  top: 100%;
  display: block;
  filter: alpha(opacity=0);
  opacity: 0;
  transition: 0.8s ease-in;
}
.galeria li a span img {
  transform: scale(0);
  transition: 0.8s ease-in;
  border-radius: 0px;
}
.galeria li a:hover span {
  filter: alpha(opacity=0);
  opacity: 1;
  visibility: visible;
}
.galeria li a:hover span img {
  transform: scale(1);
}

/* Pestañas */
.tab-content {
  display: none;
}

.tab-list a.active {
  font-weight: 600;
  opacity: 1;
}
.show {
  display: block;
}
.tabs {
  max-width: 600px;
  margin: 0 auto;
}
.tab-list {
  padding-bottom: 0.6rem;
  display: flex;
  justify-content: center;
  gap: 2rem;
  background-color: #999;
  border-radius: 32rem;
  margin-block: 2rem;
  font-size: 2rem;
}

.tab-list a {
  text-decoration: none;
  display: flex;
  align-items: center;
  padding: 1rem;
  color: black;
  opacity: 0.5;
}

/* Formulario */
form {
  width: 100%;
  max-width: 800px;
  margin: 2rem auto;
  display: grid;
  grid-template-columns: auto fit-content fit-content 1fr;
  gap: 0.5rem;
  border: solid 1px black;
  padding: 2rem;
  background-color: whitesmoke;
}

.columna-uno {
  grid-column-start: 1;
}
.columna-dos {
  grid-column-start: 2;
}
.columna-tres {
  grid-column-start: 3;
}
.columna-cuatro {
  grid-column-start: 4;
}

[for~="ingles"],
[id~="ingles"],
[for~="informatica"] {
  grid-column-end: 3;
}

.tratamiento {
  grid-row-start: 1;
  grid-column-end: 3;
  display: flex;
}

[for~="nombre"],
[for~="apellidos"],
[id~="nombre"],
[id~="apellidos"] {
  grid-row-start: 2;
}

[for~="domicilio"],
[id~="domicilio"] {
  grid-row-start: 3;
}

[for~="cpostal"],
[id~="cpostal"],
[for~="correo"],
[id~="correo"] {
  grid-row-start: 4;
}

[for~="otra-info"] {
  grid-row-start: 5;
  grid-column-start: 3;
  grid-column-end: 5;
}

textarea {
  grid-row-start: 6;
  grid-row-end: 10;
  grid-column-end: 5;
  resize: none;
}

[id~="domicilio"] {
  grid-column-start: 2;
  grid-column-end: 5;
}

.checkbox {
  display: grid;
  grid-template-columns: min-content auto;
  align-items: center;
}

.checkbox > input {
  grid-column: 1;
}

.input-error {
  border: solid 2px red;
  background-color: rgb(235, 213, 213);
}
.input-bien {
  border: solid 2px green;
  background-color: rgb(213, 235, 213);
}
