body {
  font-family: sans-serif;
}

h1 {
  text-align: center;
}

.menu {
  display: flex;
  justify-content: space-around;
}

#contenedor {
  width: max-content;
  margin: auto;
  margin-top: 2rem;
}
