* {
    margin: 0;
    padding: 0;
}

html {
    font-family: sans-serif;
    hyphens: auto;
}

p {
    text-align: justify;
    padding: 0.5rem;
}


.p2 {
    background-color: lightgrey;
    color: black;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
}

.a11 {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.a11 .p3 {
    border: solid 2px black;
    width: 200px;
    margin: 0 0.5rem;
}

.a12 {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.a12 .p3 {
    border: solid 2px black;
    width: 200px;
    margin: 0 0.5rem;
}

.a13 {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

.a13 .p3 {
    border: solid 2px black;
    width: 200px;
    margin: 0 0.5rem;
}

.a21 {
    display: flex;
    flex-flow: row wrap;
    justify-content: left;
}

.a21 .ficha {
    border: solid 2px black;
    width: 200px;
    margin: 0.5rem;
}

.a22 {
    display: flex;
    flex-flow: row wrap;
    justify-content: left;
    align-items: center;
}

.a22 .ficha {
    border: solid 2px black;
    width: 200px;
    margin: 0.5rem;
}

.a22 .p2 {
    border-bottom: solid 2px black;
}

.a23 {
    display: flex;
    flex-flow: row wrap;
}

.a23 .ficha {
    border: solid 2px black;
    margin: 0.5rem;
    width: 250px;
    display: flex;
    flex-flow: row nowrap;
}

.a23 .p1 {
    font-size: 4rem;
}

.a24 {
    display: flex;
    flex-flow: row wrap;
    justify-content: left;
}

.a24 .ficha {
    border: solid 2px black;
    width: 250px;
    margin: 0.5rem;
    align-self: center;
    display: flex;
    flex-flow: row nowrap;
}

.a24 .p1 {
    border-right: solid 2px black;
    font-size: 4rem;
}

.a24 .p3 {
    background-color: lightgrey;
}

.a25 {
    display: flex;
    flex-flow: row wrap;
}

.a25 .ficha {
    background-color: lightgray;
    border: solid 2px black;
    margin: 0.5rem;
    width: 250px;
    display: flex;
    flex-flow: row nowrap;
}

.a25 .p1 {
    background-color: white;
    border-right: solid 2px black;
    font-size: 4rem;
}

.a25 .p2 {
    width: 100%;
    align-self: center;
}

.a31 {
    display: flex;
    flex-flow: row wrap;
}

.a31 .ficha {
    border: solid 2px black;
    margin: 0.5rem;
    width: 200px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    overflow: hidden;
}

.a31 .p1 {
    font-size: 5rem;
}

.a31 .p2 {
    width: 100%;
}

.a32 {
    display: flex;
    flex-flow: row wrap;
}

.a32 .ficha {
    width:300px;
    border: solid 2px black;
    margin: 0.5rem;
    display: flex;
    flex-flow: row nowrap;

}

.a32 .parte {
    border-left: solid 2px black;
}

.a32 .p1 {
    font-size: 5rem;
}

.a32 .p2 {
    border-bottom: solid 2px black;
}

.a33 {
    display: flex;
    flex-flow: row wrap;
}

.a33 .ficha {
    border: solid 2px black;
    margin: 0.5rem;
    width: 300px;
}

.a33 .parte {
    background-color: lightgray;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.a33 .p1 {
    border-right: solid 2px black;
    border-bottom: solid 2px black;
    border-radius: 0 0 10px 0;
    font-size: 4rem;
}
.a33 .p2 {
    flex-grow: 1;
}


