/* CSS styles */
a {
  text-decoration: none;
}

a:link {
  color: red;
}

a:visited {
  color: darkgreen;
}

a:focus {
  color: blue;
  text-decoration: underline;
}

a:hover {
  color: white;
  background-color: red;
  text-decoration: underline;
}

a:active {
  color: orange;
  text-decoration: none;
}

