* {
  box-sizing: border-box;
}

/* ESTRUCTURA DE LA PÁGINA */

body {
  display: grid;
  grid-template-areas:
    "header header header header"
    "main main main aside"
    "footer footer footer footer";
  grid-template-columns: 1fr 1fr 1fr 230px;
  grid-template-rows: auto 1fr auto;

  margin: 0;
  padding: 0;

  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  height: 100vh;
}

header {
  background-color: #343a40;
  grid-area: header;
  width: 100%;
  padding: 2rem;

  font-size: 3rem;
  font-weight: bold;
  color: white;
  text-align: center;
  text-shadow: -1px 0px black, 0 1px black, 1px 0 black, 0 -1px black;

  border-bottom: inset 4px #495057;
}

main {
  background-color: #e9ecef;
  grid-area: main;
}

#contenedor {
  margin: 2rem;
}

aside {
  background-color: #adb5bd;
  grid-area: aside;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0.5rem;
}

aside > * {
  width: 100%;
}

footer {
  background-color: #343a40;
  grid-area: footer;
  position: fixed;
  width: 100%;
  bottom: 0;
  padding: 1rem;

  color: white;
  font-weight: bold;
}

/* BOTONES Y ENTRADA DE TEXTO */

.buscador,
.sumador {
  position: relative;
}

.buscador > input,
.sumador > input {
  width: 100%;
  padding: 1rem;
  border: none;
}

.buscador > button,
.sumador > button {
  position: absolute;
  left: 180px;
  top: 5px;

  border-radius: 50%;
  aspect-ratio: 1;
}

.buscador i {
  font-size: 1.1rem;
}

.sumador i {
  font-size: 1.25rem;
}

input {
  height: 2.5rem;
  border-radius: 20px;
}

input[type~="button"],
.buscador > button,
.sumador > button {
  color: white;
  font-weight: bold;
  cursor: pointer;
  background-color: #495057;
  border: none;
}

input[type~="button"]:active,
.buscador > button:active,
.sumador > button:active {
  background-color: #212529;
  border-color: #212529;
}

input[type~="button"]:active {
  text-indent: 2px;
}

/* TABLA */

#tablaSemillas {
  border-collapse: collapse;
  width: 50%;
  min-width: max-content;
  max-width: 500px;
  margin: auto;

  text-transform: capitalize;
  text-align: center;
  border-radius: 35px;
  overflow: hidden;
}

#tablaSemillas td,
#tablaSemillas th {
  padding: 1em;
  background: #ced4da;
}

#tablaSemillas tr {
  border-bottom: 2px solid #e9ecef;
}

#tablaSemillas tr:last-child {
  border-bottom: none;
}

#tablaSemillas tr:hover {
  font-weight: bold;
}

#tablaSemillas th {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #495057;
  color: white;
}

/* ESTILOS PARA PANTALLAS PEQUEÑAS */
@media (max-width: 600px) {
  body {
    grid-template-areas:
      "header"
      "aside"
      "main"
      "footer";
    grid-template-columns: 1fr;
    grid-template-rows: min-content max-content 1fr min-content;
  }

  header {
    font-size: 1.8rem;
    padding: 1rem;
  }

  .buscador > input,
  .sumador > input {
    width: 100%;
  }

  input[type~="button"],
  .buscador,
  .sumador {
    width: 215px;
    margin: auto;
  }

  footer {
    position: static;
  }
}
