* {
  box-sizing: border-box;
}

body {
  display: grid;
  grid-template-areas:
    "header header header header"
    "main main main aside"
    "footer footer footer footer";
  grid-template-columns: 1fr 1fr 1fr 230px;
  grid-template-rows: auto 1fr auto;

  margin: 0;
  padding: 0;

  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  height: 100vh;
}

header {
  background-color: lightblue;
  grid-area: header;
  width: 100%;
  padding: 2rem;

  font-size: 3rem;
  font-weight: bold;
  color: white;
  text-align: center;
  text-shadow: -1px 0px black, 0 1px black, 1px 0 black, 0 -1px black;

  border-bottom: inset 4px darkgreen;
}

main {
  background-color: whitesmoke;
  grid-area: main;
}

#contenedor {
  margin: 2rem;
}

aside {
  background-color: palegreen;
  grid-area: aside;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0.5rem;
}

aside > * {
  width: 100%;
}

footer {
  background-color: bisque;
  grid-area: footer;
  position: fixed;
  width: 100%;
  bottom: 0;
  padding: 1rem;
}

/* BOTONES Y ENTRADA DE TEXTO */

.buscador,
.sumador {
  position: relative;
}

.buscador > input,
.sumador > input {
  width: 100%;
  padding: 1rem;
}

.buscador > button,
.sumador > button {
  position: absolute;
  left: 180px;
  top: 5px;

  border-radius: 50%;
  aspect-ratio: 1;
}

.sumador i {
  font-size: larger;
}

input {
  height: 2.5rem;
  border-radius: 20px;
}

input[type~="button"],
.buscador > button,
.sumador > button {
  color: white;
  font-weight: bold;
  cursor: pointer;
  border-color: #04aa6d;
  background-color: #04aa6d;
}

input[type~="button"]:active,
.buscador > button:active,
.sumador > button:active {
  background-color: #238863;
  border-color: #238863;
}

input[type~="button"]:active {
  text-indent: 2px;
}

/* TABLA */

#tablaSemillas {
  border-collapse: collapse;
  width: 40%;
  min-width: max-content;
  margin: auto;

  text-transform: capitalize;
  text-align: center;
}

#tablaSemillas td,
#tablaSemillas th {
  border: 1px solid #ddd;
  padding: 8px;
}

#tablaSemillas tr:nth-child(even) {
  background-color: rgb(203, 234, 241);
}

#tablaSemillas tr:hover {
  font-weight: bold;
}

#tablaSemillas th {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #04aa6d;
  color: white;
}
