/* CSS styles */

table {
  border: 1px black solid;
}

th {
  border: 1px black solid;
}

td {
  border: 1px black solid;
}

tr:first-of-type {
  color: blue;
}

tr:nth-child(2) {
  color: darkgreen;
}

tr:nth-child(3) {
  color: red;
}

tr:nth-child(4) {
  color: purple;
}

td:first-of-type {
  background-color: lightblue;
}

td:nth-child(2) {
  background-color: pink;
}

td:nth-child(3) {
  background-color: lightgrey;
}

td:nth-child(4) {
  background-color: lightgreen;
}